<igx-grid [data]="northwindCustomers" [rowEditable]="true" cellSelection="multiple" rowSelection="multiple" columnSelection="multiple" [allowFiltering]="true" filterMode="excelStyleFilter" [allowAdvancedFiltering]="true" [autoGenerate]="false" width="100%" height="100%" displayDensity="cosy" primaryKey="customerID" class="grid">
  <igx-column field="customerID" header="customerID" title="customerID" dataType="string" [sortable]="true" [movable]="true" [resizable]="true" [hasSummary]="true" [groupable]="true" [editable]="true"></igx-column>
  <igx-column field="companyName" header="companyName" title="companyName" dataType="string" [sortable]="true" [movable]="true" [resizable]="true" [hasSummary]="true" [groupable]="true" [editable]="true"></igx-column>
  <igx-column field="contactName" header="contactName" title="contactName" dataType="string" [sortable]="true" [movable]="true" [resizable]="true" [hasSummary]="true" [groupable]="true" [editable]="true"></igx-column>
  <igx-column field="contactTitle" header="contactTitle" title="contactTitle" dataType="string" [sortable]="true" [movable]="true" [resizable]="true" [hasSummary]="true" [groupable]="true" [editable]="true"></igx-column>
  <igx-column field="address.street" header="street" title="address.street" dataType="string" [sortable]="true" [movable]="true" [resizable]="true" [hasSummary]="true" [groupable]="true" [editable]="true"></igx-column>
  <igx-column field="address.city" header="city" title="address.city" dataType="string" [sortable]="true" [movable]="true" [resizable]="true" [hasSummary]="true" [groupable]="true" [editable]="true"></igx-column>
  <igx-column field="address.region" header="region" title="address.region" dataType="string" [sortable]="true" [movable]="true" [resizable]="true" [hasSummary]="true" [groupable]="true" [editable]="true"></igx-column>
  <igx-column field="address.postalCode" header="postalCode" title="address.postalCode" dataType="string" [sortable]="true" [movable]="true" [resizable]="true" [hasSummary]="true" [groupable]="true" [editable]="true"></igx-column>
  <igx-column field="address.country" header="country" title="address.country" dataType="string" [sortable]="true" [movable]="true" [resizable]="true" [hasSummary]="true" [groupable]="true" [editable]="true"></igx-column>
  <igx-column field="address.phone" header="phone" title="address.phone" dataType="string" [sortable]="true" [movable]="true" [resizable]="true" [hasSummary]="true" [groupable]="true" [editable]="true"></igx-column>
  <igx-action-strip>
    <igx-grid-pinning-actions></igx-grid-pinning-actions>
    <igx-grid-editing-actions [addRow]="true"></igx-grid-editing-actions>
  </igx-action-strip>
  <igx-paginator [perPage]="10"></igx-paginator>
  <igx-grid-toolbar>
    <igx-grid-toolbar-title>Grid Toolbar</igx-grid-toolbar-title>
    <igx-grid-toolbar-actions>
      <igx-grid-toolbar-pinning></igx-grid-toolbar-pinning>
      <igx-grid-toolbar-hiding></igx-grid-toolbar-hiding>
      <igx-grid-toolbar-advanced-filtering></igx-grid-toolbar-advanced-filtering>
    </igx-grid-toolbar-actions>
  </igx-grid-toolbar>
</igx-grid>
