:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.navigation-bar {
  height: max-content;
  min-width: min-content;
}
.navigation-drawer {
  width: 320px;
  min-height: 0;
  flex: 0 0 auto;
  min-width: min-content;
}
.views-container {
  flex: 1 1 auto;
  position: relative;
}
.navigation-drawer_1 {
  text-overflow: ellipsis;
  overflow: hidden;
}
.row-layout {
  align-items: stretch;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex: 1 1 auto;
}
.row {
  display: flex;
}
